<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  
  <listeners>

      <listener class-name="utils.MyListeners"></listener>

</listeners>
<parameter name="browser" value="chrome"></parameter>
<parameter name="url" value="https://www.demoblaze.com/"></parameter>

  <test thread-count="5" name="Test">
  
    <classes>
    
        <class name="test.LoginTest"></class>    
         <class name="test.SignupTest"></class>    
          <class name="test.CartFunctionTest"></class>    
           <class name="test.OrderFunctionTest"></class>    
            <class name="test.UiAndUxTest"></class>    
             <class name="test.BrowsingAndNavigationTest"></class>    
      
      
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
